* {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-image: url(assets/tlo1.png);
}

.header {
  background: url(assets/tlo2.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  display: table;
  box-shadow: 10px 10px 20px;
  position: relative;
}

.logo {
  width: 20rem;
  margin-top: 1.3rem;
}

.my {
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  box-shadow: 10px 10px 80px 10px snow;
}

h1 {
  font-family: 'Playfair Display', Times New Roman, serif;
  padding: 1rem;
  font-size: 3rem;
  color: black;
  margin-bottom: 1rem;
}

h3 {
  color: black;
  font-size: 1.1rem;
}

#down {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: hsla(0, 0%, 100%, .7);
}

#content {
  width: 100%;
  background-color: hsla(0, 0%, 100%, .97);
}

img {
  width: 4rem;
}

.icon {
  text-align: center;
  padding: 2rem;
}

.cssicon {
  width: 14rem;
  margin-left: auto;
  margin-right: auto;
}

article {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}


h2 {
  color: #333;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 4rem;
}

p {
  color: black;
  font-size: 1.2rem;
  letter-spacing: 0.02rem;
  line-height: 1.3;
}

.contact {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.mail a {
  font-size: 2rem;
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  color: #333;
  display: block;
  transition: all 0.5s ease-in-out;
}

.mail a:hover {
  transform: scale(1.4);
  color: dimgray;
}

.contact p {
  font-size: 1.6rem;
  font-style: italic;
}

.footer {
  text-align: center;
  width: 100%;
  background-color: gray;
  padding: 0.6rem;
  opacity: 0.97;
}

small {
  font-size: 0.8rem;
}

strong {
  font-weight: 600;
}

/*=== @media ===*/

@media(min-width: 1201px) {

  .logo {
    width: 65rem;
  }

  .my {
    width: 15rem;
    border-radius: 50%;
    margin-bottom: 3.5rem;
    box-shadow: 10px 10px 30px 10px #111
  }

  h1 {
    font-size: 7rem;
    text-shadow: -5px -5px 20px snow;
  }

  h3 {
    font-size: 2.5rem;
    text-shadow: -5px -5px 10px snow;
  }

  #down {
    display: none;
  }

  #content {
    width: 60vw;
    background-color: hsla(0, 0%, 100%, .97);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 10px black;
  }

  img {
    width: 8rem;
  }

  .cssicon {
    width: 34rem;
  }

  article {
    width: 50vw;
    margin-top: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.6rem;
  }

  .mail a {
    font-size: 3rem;
  }

  .contact p {
    font-size: 2rem;
  }

  .footer {
    margin-top: 5rem;
  }

  small {
    font-size: 1.3rem;
  }

  strong {
    font-weight: 500;
  }

}

@media (max-width: 1200px) and (min-width: 1025px) {

  .logo {
    width: 65rem;
  }

  .my {
    width: 15rem;
    border-radius: 50%;
    margin-bottom: 3.5rem;
    box-shadow: 10px 10px 30px 10px #111
  }

  h1 {
    font-size: 8rem;
    text-shadow: -5px -5px 20px snow;
  }

  h3 {
    font-size: 3rem;
    text-shadow: -5px -5px 10px snow;
  }

  #down {
    display: none;
  }

  #content {
    width: 60vw;
    background-color: hsla(0, 0%, 100%, .97);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 10px black;
  }

  img {
    width: 8rem;
  }

  .cssicon {
    width: 34rem;
  }

  article {
    width: 50vw;
    margin-top: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.6rem;
  }

  .mail a {
    font-size: 3rem;
  }

  .contact p {
    font-size: 2rem;
  }

  .footer {
    margin-top: 5rem;
  }

  small {
    font-size: 1.3rem;
  }

  strong {
    font-weight: 500;
  }

}

@media (max-width: 1024px) and (min-width: 769px) {

  .logo {
    width: 50rem;
  }

  .my {
    width: 12rem;
    border-radius: 50%;
    margin-bottom: 3.5rem;
    box-shadow: 10px 10px 30px 10px #111
  }

  h1 {
    font-size: 8rem;
    text-shadow: -5px -5px 20px snow;
  }

  h3 {
    font-size: 3rem;
    text-shadow: -5px -5px 10px snow;
  }

  #down {
    display: none;
  }

  #content {
    width: 60vw;
    background-color: hsla(0, 0%, 100%, .97);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 10px black;
  }

  img {
    width: 8rem;
  }

  .cssicon {
    width: 24rem;
  }

  article {
    width: 50vw;
    margin-top: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.6rem;
  }

  .mail a {
    font-size: 3rem;
  }

  .contact p {
    font-size: 2rem;
  }

  .footer {
    margin-top: 5rem;
  }

  small {
    font-size: 1.3rem;
  }

  strong {
    font-weight: 500;
  }

}

@media (max-width: 768px) and (min-width: 481px) {

  .logo {
    width: 40rem;
  }

  .my {
    width: 12rem;
    border-radius: 50%;
    margin-bottom: 3.5rem;
    box-shadow: 10px 10px 30px 10px #111
  }

  h1 {
    font-size: 7rem;
    text-shadow: -5px -5px 20px snow;
  }

  h3 {
    font-size: 2.6rem;
    text-shadow: -5px -5px 10px snow;
  }

  #down {
    display: none;
  }

  #content {
    width: 80vw;
    background-color: hsla(0, 0%, 100%, .97);
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 20px 10px black;
  }

  img {
    width: 8rem;
  }

  .cssicon {
    width: 20rem;
  }

  article {
    width: 60vw;
    margin-top: 5rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.6rem;
  }

  .mail a {
    font-size: 3rem;
  }

  .contact p {
    font-size: 2rem;
  }

  .footer {
    margin-top: 5rem;
  }

  small {
    font-size: 1.3rem;
  }

  strong {
    font-weight: 500;
  }
}