/* ==== A SIMPLE CSS RESET FROM ERIC MEYER ==== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*=== ===*/

/*

font-family: 'Crimson Text', serif;
font-family: 'Libre Baskerville', serif;

*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Libre Baskerville', Arial, serif;
  color: black;
  background-color: whitesmoke;
}

/*=== wall===*/

#container {
  width: 160rem;
  height: 100vh;
}

#ground {
  width: 100%;
  height: 125rem;
  background: url(assets/tlo2.jpg) no-repeat center;
}

.logo {
  width: 70rem;
  padding: 2rem;
  position: relative;
  top: 2rem;
}

.my {
  width: 30rem;
  border-radius: 50%;
}

#down {
  position: relative;
  top: 50rem;
}

span {
  font-size: 10rem;
  color: whitesmoke;
}

header {
  text-align: center;
}

h1 {
  font-family: 'Playfair Display', Times New Roman, serif;
  padding: 1rem;
  font-size: 8rem;
  margin-left: auto;
  margin-right: auto;
  text-shadow: 10px 10px 20px;
  color: black;
}

h3 {
  color: black;
  margin-top: 2rem;
  font-size: 2.5rem;
  padding: 2rem;
}

/*===  ===*/

#content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

article {
  padding: 5rem;
}

#icon {
  text-align: center;
  padding: 2rem;
}

.icon {
  width: 10rem;
}

h2 {
  color: black;
  position: relative;
  top: 1rem;
  font-size: 4rem;
  text-align: center;
  padding: 0.5rem;
}

p {
  color: black;
  font-size: 2.6rem;
  letter-spacing: 0.01rem;
  line-height: 1.4;
}

.contact {
  position: relative;
  top: -2rem;
}

.mail {
  text-align: center;
  font-size: 2.5rem;
}

i {
  transition: all 0.5s ease-in-out;
}

i:hover {
  transform: scale(1.4);
  color: dimgray;
}

a {
  width: 10;
  margin-left: auto;
  margin-right: auto;
  font-size: 5rem;
  display: block;
  padding: 1rem;
  color: black;
}

.foot {
  text-align: center;
  width: 100%;
  background-color: dimgrey;
  padding: 0.6rem;
  position: relative;
  top: 5rem;
  font-size: 1.5rem;
}


@media(min-width: 1201px) {

  #ground {
    height: 59rem;
  }

  #content {
  width: 60%;
}

  #down {
    display: none;
  }

  .logo {
    width: 60rem;
    position: relative;
    top: -1rem;
  }

  .my {
    width: 20rem;
    border-radius: 50%;
    position: relative;
    top: -4rem;
  }

  h1 {
    font-size: 11rem;
    text-shadow: 10px 10px 20px snow;
  }

  h3 {
    text-shadow: 10px 10px 20px snow;
    margin-top: -5rem;
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.4rem;
  }
  
  a {
    font-size: 3rem;
  }
  
  .mail {
  font-size: 1.6rem;
}
  
  .foot {
  font-size: 1rem;
  }
  
}


@media (max-width: 1200px) and (min-width: 1025px) {
  #ground {
    height: 52rem;
  }
  
    #content {
  width: 60%;
}

  #down {
    display: none;
  }

  .logo {
    width: 60rem;
    position: relative;
    top: -1rem;
  }

  .my {
    width: 20rem;
    border-radius: 50%;
    position: relative;
    top: -4rem;
  }

  h1 {
    font-size: 11rem;
    text-shadow: 10px 10px 20px snow;
  }

  h3 {
    text-shadow: 10px 10px 20px snow;
    margin-top: -5rem;
    font-size: 3rem;
  }
  
    .mail {
  font-size: 1.6rem;
}
  
  .foot {
  font-size: 1rem;
  }

  p {
    font-size: 1.4rem;
  }
  
  a {
    font-size: 3rem;
  }
  
  .mail {
  font-size: 1.6rem;
}
  
  .foot {
  font-size: 1rem;
  }
  
}



@media (max-width: 1024px) and (min-width: 769px) {

  #ground {
    height: 52rem;
  }

  #down {
    display: none;
  }

  .logo {
    width: 60rem;
    position: relative;
    top: -1rem;
  }

  .my {
    width: 20rem;
    border-radius: 50%;
    position: relative;
    top: -4rem;
  }

  h1 {
    font-size: 10rem;
    text-shadow: 10px 10px 20px snow;
    margin-top: -2rem;
  }

  h3 {
    text-shadow: 10px 10px 20px snow;
    margin-top: -4rem;
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
  
  p {
    font-size: 1.4rem;
  }
  
  p {
    font-size: 1.4rem;
  }
  
  a {
    font-size: 3rem;
  }
  
  .mail {
  font-size: 1.6rem;
}
  
  .foot {
  font-size: 1rem;
  }

}

@media (max-width: 768px) and (min-width: 481px) {

  #ground {
    height: 38rem;
  }

  #down {
    display: none;
  }

  .logo {
    width: 50rem;
    position: relative;
    top: -1rem;
  }

  .my {
    width: 15rem;
    position: relative;
    top: -3rem;
  }

  h1 {
    font-size: 6rem;
    text-shadow: 10px 10px 20px snow;
    margin-top: -2rem
  }

  h3 {
    text-shadow: 10px 10px 20px snow;
    margin-top: -4rem;
    font-size: 2rem;
  }
  
    h2 {
    font-size: 1.8rem;
  }
  

  .cssicon {
    margin-right: auto;
    margin-left: -5rem;
  }
  
  p {
    font-size: 1.4rem;
  }
  
  a {
    font-size: 3rem;
  }
  
  .mail {
  font-size: 1.6rem;
}
  
  .foot {
  font-size: 1rem;
  }
}